#contact {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #E1EBED;
  }
  
  .contact-container {
    display: flex;
    gap: 2rem;
  }
  
  .developer-info,
  .contact-form {
    flex: 1;
  }
  
  .developer-info h2,
  .contact-form h2 {
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .developer-info ul,.developer-info p {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .developer-info p a {
	  text-decoration:none;
	  color:blue;
  }
  .developer-info p a:hover {
	  text-decoration:underline;
	  color:red;
  }
  
  .developer-info li,.developer-info p {
    margin-bottom: 0.5rem;
    color:black
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    display: inline-flex;
  }
  
  label {
    display: none;
    margin-bottom: 0.5rem;
    color: #555;
    margin-right: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  button {
    align-self: flex-start;
    padding: 0.75rem 1.5rem;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #023e8a;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
    
    #contact {
      padding: 1rem;
    }
  }